{% extends 'guild/members.twig' %}

{% block page_title %}{{ trans('guild.games.murdermystery.page_title', { name: guild.name }) }}{% endblock %}
{% block social_title %}{{ trans('guild.games.murdermystery.social.title', { name: guild.name, site: config_get('app.name') }) }}{% endblock %}
{% block social_description %}{{ trans('guild.games.murdermystery.social.description', { name: guild.name, site: config_get('app.name') }) }}{% endblock %}

{% block table_title %}
    <h1>{{ trans('guild.games.murdermystery.title', { name: guild.name, link: route('guild.info', [guild.name]) })|raw }}</h1>{% endblock %}

{% block members_table %}
    <murder-mystery-table :members="members"></murder-mystery-table>
{% endblock %}
