{% extends 'guild/members.twig' %}

{% block page_title %}{{ trans('guild.games.tntgames.page_title', { name: guild.name }) }}{% endblock %}
{% block social_title %}{{ trans('guild.games.tntgames.social.title', { name: guild.name, site: config_get('app.name') }) }}{% endblock %}
{% block social_description %}{{ trans('guild.games.tntgames.social.description', { name: guild.name, site: config_get('app.name') }) }}{% endblock %}

{% block table_title %}
    <h1>{{ trans('guild.games.tntgames.title', { name: guild.name, link: route('guild.info', [guild.name]) })|raw }}</h1>{% endblock %}

{% block members_table %}
    <t-n-t-games-table :members="members"></t-n-t-games-table>
{% endblock %}
